* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  user-select: none;
}
body {
  /* background-color: #ebebeb; */
  max-width: 1000px;
  margin: auto;
  width: 100%;
  height: auto;
}
header {
  width: 100%;
  padding: 0px 20px;
  height: auto;
  max-height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #97455f;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}
header::after {
  content: "-";
  position: absolute;
  width: 30px;
  height: 26px;
  font-size: 22px;
  font-weight: light;
  text-align: center;
  background-color: #97455f;
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  bottom: -26px;
  right: 20px;
  z-index: 10;
}
.icon-container {
  min-width: 280px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 10px;
}
.login-field {
  min-width: 280px;
  padding: 10px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
main {
  /* padding: 0 20px; */
  width: 100%;
  height: auto;
}
.icon-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icons {
  list-style: none;
  font-size: 18px;
  padding: 5px;
  width: 32px;
  height: 32px;
  background-color: #d2d2d2;
  color: #ffffff;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}
.icons a {
  color: #ffffff;
}
.icons:hover {
  background-color: #ee802f;
}
.nav-links a {
  color: #97455f;
  text-decoration: none;
}
.nav-links {
  color: #97455f;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  font-size: 12px;
  font-style: normal;
}
.verticalbar::after {
  content: "|";
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
}
.logoWithSearch {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: #ebebeb;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  min-height: 140px;
}
.logo {
  display: flex;
  flex: 1;
  /* align-items: center; */
  /* justify-content: center; */
}
.logo::first-letter {
  font-size: 36px;
  font-weight: 500;
}
.logo h1 {
  font-size: 26px;
  font-weight: 500;
  position: relative;
  display: inline;
}
.logo h1::after {
  content: "|";
  font-size: 31px;
  position: absolute;
  top: -7px;
  bottom: 0;
}
.logo span {
  width: 120px;
  margin-left: 10px;
  font-size: 12px;
  color: #999999;
  height: auto;
}
.search-container {
  display: flex;
  align-items: flex-end;
}
.search-container form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container input {
  width: 220px;
  height: 35px;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  border: 0;
  color: #999999;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
.search-container button {
  height: 35px;
  padding: 10px;
  cursor: pointer;
  width: 75px;
  font-size: 12px;
  background-color: #97455f;
  border-color: #97455f;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  /* margin-top: 2px; */
}
nav {
  background-color: #97455f;
  height: auto;
  /* width: 100%; */
  margin: 0 20px;
  position: relative;
  z-index: 10 !important;
  border-radius: 5px 5px 0 0;
}
.nav-list {
  /* color: #97455f; */
  display: flex;
  align-items: center;
  /* gap: 10px; */
  flex-wrap: wrap;
  min-height: 50px;
  list-style-type: none;
  font-size: 12px;
  font-style: normal;
}
.nav-list a {
  color: #ffffff;
  /* background-color: #97455f; */
  padding: 0 10px;
  text-align: center;
}
.nav-item {
  height: 100%;
  min-height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px 0 0 0;
  display: grid;
  place-items: center;
}
.nav-item:hover {
  background-color: #6a3144;
}
.nav-links a:first-child {
  border-radius: 5px 0 0 0;
}
.slider {
  max-width: 900px;
  margin: auto;
  background-color: #333333;
  height: 350px;
  margin: 30px auto 20px auto;
}
.sliderItem {
  width: 100%;
  height: 100%;
  background-color: #333333;
  position: relative;
}
.slider img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.slider figcaption {
  position: absolute;
  width: 450px;
  background-color: #adadad;
  bottom: 0;
  height: 115px;
  right: 0;
  display: flex;
  padding: 20px 20px;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  color: #383838;
}
.slider figcaption h1 {
  font-size: 36px;
  margin-bottom: 5px;
}
.slider figcaption q {
  font-size: 16px;
}
.dots-list {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
  list-style: none;
}
li.active {
  background-color: #333333;
}
li.slide-dots {
  width: 15px;
  border: 3px solid #333333;
  border-radius: 100%;
  height: 15px;
}
li.slide-dots:hover {
  background-color: #333333;
}
.square-card-contaier {
  margin: 40px 0 20px 0;
  padding: 40px 0 20px 0;
}

.horizontal-rule {
  height: 10px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ebebeb;
  text-align: center;
  position: relative;
}

.absolute-text {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: -12px;
  background-color: #ffffff;
  padding: 5px 15px;
  font-size: 16px;
  width: 150px;
}
.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: auto;
  gap: 7px;
  margin-top: 35px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: auto;
  gap: 20px;
  margin-top: 35px;
}
.flexItems {
  flex: 1;
  min-width: 280px;
  max-width: 300px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  width: 33%;
  height: auto;
}
.flexItems .dark-square {
  width: 64px;
  min-width: 64px;
  height: 60px;
  background: #353535;
  margin-right: 10px;
  margin-top: 5px;
}
.flexItems h3 {
  font-size: 16px;
  line-height: 27px;
  margin: 0;
  padding: 0;
}
.flexItems p {
  font-size: 13px;
  line-height: 20px;
}
.testimonial {
  flex: 1;
  width: 50%;
  max-width: 440px;
  min-width: 280px;
  height: auto;
  /* padding: 10px 10px 10px ; */
}
.testimonial h4 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}
.testimonial button {
  color: #97455f;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px 0;
}
.testimonial p {
  color: #999999;
  font-size: 13px;
}
.Flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: center; */
  height: auto;
  gap: 7px;
  margin-top: 35px;
  position: relative;
}
.circle {
  width: 128px;
  height: 128px;
  /* margin: auto; */
  background-color: #333333;
  border-radius: 100%;
  /* flex: 1; */
}
.quotes {
  font-size: 45px;
}
.content {
  /* width: 100%; */
  flex: 1;
  height: auto;
  position: relative;
}
.quoteImg::before {
  position: absolute;
  top: -5px;
  left: -5px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("Untitled-1.png");
  width: 60px;
  height: 60px;
  /* background-color: #97455f; */
}
.quoteImg div {
  margin-left: 65px;
}
.pink-box {
  max-width: 900px;
  margin: 20px auto 50px auto;
  background-color: #97455f;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: center; */
  height: auto;
  gap: 7px;
  margin-top: 35px;
  padding: 20px 25px;
  position: relative;
  border-radius: 15px;
}

.left {
  flex: 59%;
  color: #ffffff;
  width: 60%;
}
.left h4 {
  font-size: 30px;
}
.left p {
  font-size: 16px;
}
.right {
  flex: 39%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.right button {
  width: 256px;
  margin-left: auto;
  height: 58px;
  border-radius: 15px;
  border: none;
  font-size: 24px;
  color: #97455f;
  /* padding: 0; */
}
footer {
  width: 100%;
  padding: 40px 20px;
  border-top: 5px solid #d2d2d2;
  height: auto;
  background-color: #ebebeb;
}
.flex40 {
  flex: 40%;
  width: 40%;
  height: 100%;
  padding: 20px 20px 20px 0;
  min-width: 280px;
}
.w-900 {
  max-width: 900px;
  margin: auto;
}
.flex20 {
  flex: 20%;
  height: 100%;
  width: 20%;
  padding: 20px 0 20px 20px;
  min-width: 280px;
}
footer input {
  width: 100%;
  height: 35px;
  padding: 15px;
  max-width: 225px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  font-size: 13px;
}
footer textarea {
  resize: none;
  font-size: 13px;
  max-width: 225px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  max-height: 110px;
}
footer button {
  background-color: #97455f;
  /* padding: 15px; */
  margin: 10px 0;
  width: 80px;
  font-size: 12px;
  height: 32px;

  border: none;
  color: #ffffff;
  border-radius: 10px;
}
footer h5 {
  font-size: 16px;
  color: #333333;
}
footer p {
  font-size: 12px;
  letter-spacing: 1px;
  color: #999999;
  line-height: 17px;
}
.black-square {
  width: 95px;
  padding: 5px;
  min-width: 95px;
  margin-right: 10px;
  height: 95px;
  border: 5px solid #ebebeb;
  outline: 1px solid #333333;
  background-color: #333333;
}
.footer-flex {
  display: flex;
  height: auto;
  gap: 10px;
  margin: 30px 0;
}
.copyright {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 25px 20px;
  height: auto;
  background-color: #ebebeb;
  max-height: 63px;
  justify-content: space-between;
}
.copy-left {
}
.copyright p {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}
.copy-right {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 600px) {
  header {
    height: auto;
  }
  .copyright {
    max-height: auto;
  }
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 320px) {
  .verticalbar::after {
    content: "|";
    font-size: 20px;
    text-align: center;
    margin-left: 2px;
  }
}
